<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Macro.Common.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Macro.Desktop.Help.AboutSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Macro.Desktop.View.WinForms.SplashScreenSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Macro.ImageViewer.Services.ServiceControlSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Macro.Common.ProductSettings>
      <!--
        The contents of this section should be considered "read-only".
        Modifications to these settings may alter the intended behaviour of Macro Workstation, causing the application to become uncertified.
      -->
      <setting name="FamilyName" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Component" serializeAs="String">
        <value>+nH5OL3K6/yiF17UTuQ8AAuwsSK679km</value>
      </setting>
      <setting name="Product" serializeAs="String">
        <value>+nH5OL3K6/xP46EmaJ4HWw==</value>
      </setting>
      <setting name="Edition" serializeAs="String">
        <value>q+MreiMibM0=</value>
      </setting>
      <setting name="Release" serializeAs="String">
        <value>n/kJvd7Xbb8=</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>q+MreiMibM0=</value>
      </setting>
      <setting name="VersionSuffix" serializeAs="String">
        <value>mTaoDcie2GM=</value>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value>YlkMZi0vq3wzKgqRan2Yh9UqMz2eLKIZb529uCcaiEHSzc9YoSzF6OmlGzFwV7SF</value>
      </setting>
      <setting name="License" serializeAs="String">
        <value>YlkMZi0vq3x5r/OIwrX+b3TuIK+g9GrzrZbrskVMiAcd2h/TT+Z2rQlEZFfniu3lkkQ0dY9BdOI=</value>
      </setting>
    </Macro.Common.ProductSettings>
    <Macro.Desktop.Help.AboutSettings>
      <!--
        The contents of this section should be considered "read-only".
        Modifications to these settings may alter the intended behaviour of Macro Workstation, causing the application to become uncertified.
      -->
      <setting name="UseSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackgroundImageAssemblyName" serializeAs="String">
        <value>Macro.ImageViewer.View.WinForms</value>
      </setting>
      <setting name="BackgroundImageResourceName" serializeAs="String">
        <value>Resources.About.png</value>
      </setting>
      <setting name="ManifestForeColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ManifestFontBold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ManifestLocation" serializeAs="String">
        <value>400, 52</value>
      </setting>
      <setting name="ManifestSize" serializeAs="String">
        <value>250, 13</value>
      </setting>
      <setting name="ManifestAutoSize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManifestTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="CopyrightLocation" serializeAs="String">
        <value>363, 362</value>
      </setting>
      <setting name="CopyrightForeColor" serializeAs="String">
        <value>36, 64, 46</value>
      </setting>
      <setting name="CopyrightTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="VersionLocation" serializeAs="String">
        <value>434, 30</value>
      </setting>
      <setting name="VersionForeColor" serializeAs="String">
        <value>102, 102, 102</value>
      </setting>
      <setting name="VersionTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="VersionTextFormat" serializeAs="String">
        <value>Version: {0}</value>
      </setting>
    </Macro.Desktop.Help.AboutSettings>
    <Macro.Desktop.View.WinForms.SplashScreenSettings>
      <!--
        The contents of this section should be considered "read-only".
        Modifications to these settings may alter the intended behaviour of Macro Workstation, causing the application to become uncertified.
      -->
      <setting name="UseSplashScreenSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BackgroundImageAssemblyName" serializeAs="String">
        <value>Macro.ImageViewer.View.WinForms</value>
      </setting>
      <setting name="BackgroundImageResourceName" serializeAs="String">
        <value>Resources.Splash.png</value>
      </setting>
      <setting name="ManifestForeColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="ManifestFontBold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ManifestLocation" serializeAs="String">
        <value>400, 40</value>
      </setting>
      <setting name="ManifestSize" serializeAs="String">
        <value>250, 13</value>
      </setting>
      <setting name="ManifestAutoSize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ManifestTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="CopyrightLocation" serializeAs="String">
        <value>363, 362</value>
      </setting>
      <setting name="CopyrightForeColor" serializeAs="String">
        <value>36, 64, 46</value>
      </setting>
      <setting name="CopyrightTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="VersionLocation" serializeAs="String">
        <value>434, 18</value>
      </setting>
      <setting name="VersionForeColor" serializeAs="String">
        <value>102, 102, 102</value>
      </setting>
      <setting name="VersionTextAlign" serializeAs="String">
        <value>TopRight</value>
      </setting>
      <setting name="VersionTextFormat" serializeAs="String">
        <value>Version: {0}</value>
      </setting>
      <setting name="LoginLocation" serializeAs="String">
        <value>296, 306</value>
      </setting>
      <setting name="MessageFontBold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageLocation" serializeAs="String">
        <value>374, 296</value>
      </setting>
      <setting name="MessageSize" serializeAs="String">
        <value>300, 13</value>
      </setting>
      <setting name="MessageTextAlign" serializeAs="String">
        <value>TopLeft</value>
      </setting>
    </Macro.Desktop.View.WinForms.SplashScreenSettings>
    <Macro.ImageViewer.Services.ServiceControlSettings>
      <setting name="ServiceName" serializeAs="String">
        <value>Macro DICOM Viewer ShredHost Service</value>
      </setting>
      <setting name="Enabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Macro.ImageViewer.Services.ServiceControlSettings>
  </applicationSettings>
</configuration>
