<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Macro.Enterprise.Common.RemoteCoreServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Macro.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Macro.Common.ExtensionSettings>
      <setting name="ExtensionConfigurationXml" serializeAs="Xml">
        <value>
          <extensions>
            <extension class="Macro.Enterprise.Common.RemoteCoreServiceProvider, Macro.Enterprise.Common" enabled="true" />
          </extensions>
        </value>
      </setting>
    </Macro.Common.ExtensionSettings>
    <Macro.Enterprise.Common.RemoteCoreServiceSettings>
      <setting name="BaseUrl" serializeAs="String">
        <value>net.tcp://localhost:8000/</value>
      </setting>
      <setting name="ConfigurationClass" serializeAs="String">
        <value>Macro.Enterprise.Common.ServiceConfiguration.Client.NetTcpConfiguration, Macro.Enterprise.Common</value>
      </setting>
      <setting name="MaxReceivedMessageSize" serializeAs="String">
        <value>2000000</value>
      </setting>
      <setting name="CertificateValidationMode" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="RevocationMode" serializeAs="String">
        <value>NoCheck</value>
      </setting>
      <setting name="UserCredentialsProviderClass" serializeAs="String">
        <value>Macro.Enterprise.Common.DefaultUserCredentialsProvider, Macro.Enterprise.Common</value>
      </setting>
    </Macro.Enterprise.Common.RemoteCoreServiceSettings>
  </applicationSettings>
</configuration>
