<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Macro.ImageViewer.Web.Server.ImageServer.Prefetch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
   <section name="Macro.Imageviewer.Web.Server.ImageServer.Prefetch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<applicationSettings>
		<Macro.ImageViewer.Web.Server.ImageServer.Prefetch>
   <setting name="RetrieveConcurrency" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="SelectedWeighting" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="UnselectedWeighting" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="DecompressConcurrency" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ImageWindow" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="AvailableMemoryLimitMegabytes" serializeAs="String">
    <value>250</value>
   </setting>
  </Macro.ImageViewer.Web.Server.ImageServer.Prefetch> 
	</applicationSettings>
</configuration>
