<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClearCanvas.HL7.ShredSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClearCanvas.HL7.ShredSettings>
            <setting name="EmptyQueueSleepTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ShredName" serializeAs="String">
                <value>HL7 Inbound Message Shred</value>
            </setting>
            <setting name="ShredDescription" serializeAs="String">
                <value>HL7 Inbound Message Shred</value>
            </setting>
            <setting name="BatchSize" serializeAs="String">
                <value>20</value>
            </setting>
        </ClearCanvas.HL7.ShredSettings>
    </applicationSettings>
</configuration>