<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Macro.ImageViewer.Web.WebViewerServices" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Macro.ImageViewer.Web.DiagnosticsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Macro.ImageViewer.Web.WebViewerServices>
            <setting name="CompressionType" serializeAs="String">
                <value>jpeg</value>
            </setting>
            <setting name="JpegQualityFactor" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="StudyLoaderName" serializeAs="String">
                <value>CC_STREAMING</value>
            </setting>
            <setting name="ArchiveServerHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ArchiveServerPort" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="ArchiveServerHeaderPort" serializeAs="String">
                <value>50221</value>
            </setting>
            <setting name="ArchiveServerWADOPort" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AETitle" serializeAs="String">
                <value>CCWEBVIEWER</value>
            </setting>
        </Macro.ImageViewer.Web.WebViewerServices>
        <Macro.ImageViewer.Web.DiagnosticsSettings>
            <setting name="CompareImageQuality" serializeAs="String">
                <value>False</value>
            </setting>
        </Macro.ImageViewer.Web.DiagnosticsSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
