<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Macro.ImageViewer.Utilities.Media.MediaWriterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Macro.ImageViewer.Utilities.Media.MediaWriterSettings>
            <setting name="DeleteStagedFilesOnCompleted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EjectMediaOnCompleted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeIdeographicNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludePhoneticNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludePortableWorkstation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StageToTempFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserStagingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="VerifyMediaOnCompleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PortablePath" serializeAs="String">
                <value>E:\OpenCode\Macro\MacroCD\bin</value>
            </setting>
        </Macro.ImageViewer.Utilities.Media.MediaWriterSettings>
    </userSettings>
</configuration>