<?xml version="1.0"?>
<configuration>
  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Macro.Common.LicenseSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Macro.Common.UsageTracking.UsageTrackingSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Macro.Common.Configuration.UpgradeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Macro.Common.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Macro.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Macro.Common.Configuration.UpgradeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Macro.Common.LicenseSettings>
      <setting name="LicenseKey" serializeAs="String">
        <value/>
      </setting>
    </Macro.Common.LicenseSettings>
    <Macro.Common.UsageTracking.UsageTrackingSettings>
      <setting name="Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayMessages" serializeAs="String">
        <value>False</value>
      </setting>
    </Macro.Common.UsageTracking.UsageTrackingSettings>
    <Macro.Common.Configuration.UpgradeSettings>
      <setting name="UserUpgradeEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Macro.Common.Configuration.UpgradeSettings>
    <Macro.Common.ProductSettings>
      <setting name="Component" serializeAs="String">
        <value>+nH5OL3K6/yiF17UTuQ8AAuwsSK679km</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>q+MreiMibM0=</value>
      </setting>
      <setting name="VersionSuffix" serializeAs="String">
        <value>mTaoDcie2GM=</value>
      </setting>
      <setting name="Product" serializeAs="String">
        <value>+nH5OL3K6/xP46EmaJ4HWw==</value>
      </setting>
      <setting name="Edition" serializeAs="String">
        <value>q+MreiMibM0=</value>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value>YlkMZi0vq3wzKgqRan2Yh9UqMz2eLKIZb529uCcaiEHSzc9YoSzF6OmlGzFwV7SF</value>
      </setting>
      <setting name="License" serializeAs="String">
        <value>YlkMZi0vq3x5r/OIwrX+b3TuIK+g9GrzrZbrskVMiAcd2h/TT+Z2rQlEZFfniu3lkkQ0dY9BdOI=</value>
      </setting>
      <setting name="Release" serializeAs="String">
        <value>n/kJvd7Xbb8=</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="FamilyName" serializeAs="String">
        <value />
      </setting>
    </Macro.Common.ProductSettings>
    <Macro.Common.ExtensionSettings>
      <setting name="ExtensionConfigurationXml" serializeAs="Xml">
        <value>
          <extensions/>
        </value>
      </setting>
    </Macro.Common.ExtensionSettings>
  </applicationSettings>
  <userSettings>
    <Macro.Common.Configuration.UpgradeSettings>
      <setting name="CompletedUserUpgradeStepsXml" serializeAs="Xml">
        <value>
          <completed-user-upgrade-steps/>
        </value>
      </setting>
    </Macro.Common.Configuration.UpgradeSettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
