<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Macro.Common.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Macro.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
    <Macro.Common.ProductSettings>
      <setting name="FamilyName" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Component" serializeAs="String">
        <value>+nH5OL3K6/yiF17UTuQ8AAuwsSK679km</value>
      </setting>
      <setting name="Product" serializeAs="String">
        <value>+nH5OL3K6/wegt3t69SLAg==</value>
      </setting>
      <setting name="Edition" serializeAs="String">
        <value />
      </setting>
      <setting name="Release" serializeAs="String">
        <value>n/kJvd7Xbb8=</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>e3meIKRKJsA=</value>
      </setting>
      <setting name="VersionSuffix" serializeAs="String">
        <value/>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value>YlkMZi0vq3wzKgqRan2Yh9UqMz2eLKIZb529uCcaiEHSzc9YoSzF6OmlGzFwV7SF</value>
      </setting>
      <setting name="License" serializeAs="String">
        <value>YlkMZi0vq3x5r/OIwrX+b4/ytM/h4LT7F4rPNXddFZLpGmc9u7zDEUscH5KZ0aDyWTzXpqGVmkc=</value>
      </setting>
    </Macro.Common.ProductSettings>
<Macro.Common.ExtensionSettings>
			<setting name="ExtensionConfigurationXml" serializeAs="Xml">
				<value>
					<extensions>
						<extension class="Macro.Enterprise.Core.InProcessCoreServiceProvider, Macro.Enterprise.Core" enabled="false" />
						<extension class="Macro.Enterprise.Common.RemoteCoreServiceProvider, Macro.Enterprise.Common" enabled="false" />
						<extension class="Macro.ImageServer.Common.InProcessImageServerServiceProvider, Macro.ImageServer.Common" enabled="true" />
						<extension class="Macro.ImageServer.Common.RemoteImageServerServiceProvider, Macro.ImageServer.Common" enabled="true" />
						<extension class="Macro.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, Macro.ImageServer.Services.Common" enabled="true" />

						<extension class="Macro.Enterprise.Common.EnterpriseTimeProvider, Macro.Enterprise.Common" enabled="false" />
						<extension class="Macro.Enterprise.Common.Audit.AuditSink, Macro.Enterprise.Common" enabled="false" />
						<extension class="Macro.ImageServer.Services.Common.Alert.AlertService, Macro.ImageServer.Services.Common" enabled="false" />
						<extension class="Macro.ImageServer.Services.Common.Misc.FilesystemInfoService, Macro.ImageServer.Services.Common" enabled="false" />
						<extension class="Macro.ImageServer.Services.Common.Misc.ProductVerificationService, Macro.ImageServer.Services.Common" enabled="false" />
						<extension class="Macro.Enterprise.Common.EnterpriseConfigurationStore, Macro.Enterprise.Common" enabled="false" />
						<extension class="Macro.Enterprise.Common.EnterpriseSettingsStore, Macro.Enterprise.Common" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Measurement.CalibrationTool, Macro.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Measurement.RectangularRoiTool, Macro.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Measurement.PolygonalRoiTool, Macro.ImageViewer.Tools.Measurement" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Standard.ClearCustomShuttersTool, Macro.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Standard.EditHistoryTool, Macro.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Standard.CineTool, Macro.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Standard.DrawShutterTool, Macro.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="Macro.ImageViewer.Layout.Basic.LayoutTool, Macro.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Standard.ImageProperties.ImagePropertiesTool, Macro.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Standard.TextCalloutTool, Macro.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="Macro.ImageViewer.Tools.Standard.MagnificationTool, Macro.ImageViewer.Tools.Standard" enabled="false" />
						<extension class="Macro.ImageViewer.Layout.Basic.PriorStudyFinder, Macro.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="Macro.ImageViewer.Layout.Basic.PriorStudyLoaderExceptionPolicy, Macro.ImageViewer.Layout.Basic" enabled="false" />
						<extension class="Macro.ImageViewer.Web.Server.ImageServer.ImageServerStudyLoader, Macro.ImageViewer.Web.Server.ImageServer" enabled="false" />
						<extension class="Macro.ImageViewer.StudyLoaders.Streaming.WebStation.WebStationStreamingStudyLoader, Macro.ImageViewer.StudyLoaders.Streaming" enabled="true" />
					</extensions>
				</value>
			</setting>
		</Macro.Common.ExtensionSettings>
	</applicationSettings>
</configuration>