<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings">
      <section name="Macro.Common.ProductSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Macro.Common.ProductSettings>
      <setting name="FamilyName" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Component" serializeAs="String">
        <value>+nH5OL3K6/yiF17UTuQ8APjnZfqJwuOc</value>
      </setting>
      <setting name="Product" serializeAs="String">
        <value>+nH5OL3K6/wegt3t69SLAg==</value>
      </setting>
      <setting name="Edition" serializeAs="String">
        <value />
      </setting>
      <setting name="Release" serializeAs="String">
        <value>n/kJvd7Xbb8=</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>pQJMaSHpiXs=</value>
      </setting>
      <setting name="VersionSuffix" serializeAs="String">
        <value>fVUdj3ffbKM=</value>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value>YlkMZi0vq3wzKgqRan2Yh9UqMz2eLKIZb529uCcaiEHSzc9YoSzF6OmlGzFwV7SF</value>
      </setting>
      <setting name="License" serializeAs="String">
        <value>YlkMZi0vq3x5r/OIwrX+b4/ytM/h4LT7F4rPNXddFZLpGmc9u7zDEUscH5KZ0aDyWTzXpqGVmkc=</value>
      </setting>
    </Macro.Common.ProductSettings>
  </applicationSettings>
</configuration>

