<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings">
			<section name="Macro.Common.ExtensionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<Macro.Common.ExtensionSettings>

			<setting name="ExtensionConfigurationXml" serializeAs="Xml">

				<value>

					<extensions>
						<extension class="Macro.ImageServer.Services.Common.Misc.ProductVerificationService, Macro.ImageServer.Services.Common" enabled="true" />						
						<extension class="Macro.Enterprise.Core.InProcessCoreServiceProvider, Macro.Enterprise.Core" enabled="false" />
						<extension class="Macro.Enterprise.Common.RemoteCoreServiceProvider, Macro.Enterprise.Common" enabled="false" />
						<extension class="Macro.ImageServer.Common.InProcessImageServerServiceProvider, Macro.ImageServer.Common" enabled="true" />
						<extension class="Macro.ImageServer.Common.RemoteImageServerServiceProvider, Macro.ImageServer.Common" enabled="false" />
						<extension class="Macro.ImageServer.Services.Common.Authentication.DefaultAuthenticationService, Macro.ImageServer.Services.Common" enabled="false" />
						<extension class="Macro.Enterprise.Common.EnterpriseTimeProvider, Macro.Enterprise.Common" enabled="false" />
						<extension class="Macro.Enterprise.Common.Audit.AuditSink, Macro.Enterprise.Common" enabled="false" />
						<extension class="Macro.ImageServer.Services.Common.Alert.AlertService, Macro.ImageServer.Services.Common" enabled="true" />
						<extension class="Macro.ImageServer.Services.Common.Misc.FilesystemInfoService, Macro.ImageServer.Services.Common" enabled="true" />
					</extensions>

				</value>

			</setting>

		</Macro.Common.ExtensionSettings>
	</applicationSettings>
</configuration>

