<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="ImageServerConnectString"
				connectionString="Data Source=127.0.0.1;User ID=sa;Password=pacs123!@#;Initial Catalog=ImageServer"
			 providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

